<div class="container py-5">

  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mt-3 mb-4 text-secondary">你想對誰說幹話？ <i class="fas fa-bullhorn"></i></h2>

          <form action="/" method="POST">

            <div class="form-row ml-3">
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <div class="card-top" style="height: 260px;">
                    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                      class="card-img-top" alt="engineer">
                  </div>
                  <div class="card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        工程師
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <div class="card-top" style="height: 260px;">
                    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                      class="card-img-top" alt="designer">
                  </div>
                  <div class="card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        設計師
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <div class="card-top" style="height: 260px;">
                    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                      class="card-img-top" alt="boss">
                  </div>
                  <div class="card-body">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        創業家
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5 mx-2 ">
              <div class="col-2 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-success">產生幹話</button>
              </div>
              <div class="col-10">
                <textarea class="col-12"></textarea>
              </div>

          </form>


        </div>
      </div>
    </div>
  </div>

</div>